:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.groups-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.loading {
  text-align: center;
  font-style: italic;
}

.error {
  text-align: center;
  color: red;
}
